@font-face {
     font-family: 'DIN Next';
     src: url('DINNextLTPro-Medium.woff2') format('woff2');
     font-weight: 500;
     font-style: normal;
     font-display: auto;
}
 div,h1,button {
     text-align: center;
     font-family: "Lexend Deca";
}
 button {
     border-radius: 10px;
     padding-left: 10px;
     padding-right: 10px;
}
#countdown {
    font-size: 112px;
    font-family: 'DIN Next';
    color: #fff;
}
 #moreWorkBtn, #moreBreakBtn {
     display: none 
}
 #work-div {
     display: none;
}
 .box {
     margin: auto;
     width: fit-content;
     padding: 10px;
     border-radius: 19px;
     margin-top: 18px;
     max-width: 876px;
     background-color: #efefef;
}
 #extra-break {
     color: #f4ff98;
}
 #extra-work {
     color: #d5ffc7;
}
.item {
	display: list-item;
	list-style: decimal;
	margin-top: 0px;
	margin-bottom: 0px;
}

.flashing {
animation: bgPulsate 0.5s ease-in-out infinite;	
}

.txt-flashing {
animation: txtPulsate 0.5s ease-in-out infinite;	
}

@keyframes bgPulsate {
  50% {background-color: black;}
} 

@keyframes txtPulsate {
  50% {color: white;}
} 